extends layout

block content
  h1= title
  h4= message
  hr
  div
    h2 Cache stats
    p Cache Hits: #{stats.cache_hits}
    p Cache Misses: #{stats.cache_misses}
    hr
    h2 Files
    p Original Files: #{stats.getOriginalFiles()}
    p Resized Files: #{stats.getResizedFiles()}
    hr

    h2 Process Info (PID: #{stats.getProcessInfo().pid})
    p  Uptime: #{stats.getProcessInfo().uptime} minutes
    p  Platform: #{stats.getProcessInfo().platform}
    h3 Memory Usage
    p #{stats.getProcessInfo().memory_usage.free.toFixed(2)} GB / #{stats.getProcessInfo().memory_usage.total.toFixed(2)} GB

    h3 Disk
    p Available: #{(stats.getDiskSpace().available / Math.pow(1024,3)).toFixed(3)} GB
    p Free: #{(stats.getDiskSpace().free / Math.pow(1024,3)).toFixed(3)} GB
    p Total: #{(stats.getDiskSpace().total / Math.pow(1024,3)).toFixed(3)} GB
    
